table,tr,td{
    border: 2px solid brown;
    padding: 2px;
    color: black;
    
}
img{
    height: 80px;
    width: 80px;
}
.searchBar button{
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 1px;
}