<table>
    <Caption>user credentials</Caption>
    <thead>
        <tr>
            <td>s.no</td>
            <td>image_url</td>
            <td>product name</td>
            <td>price</td>
            <td>description</td>
            <td>product id</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody *ngFor='let product of products; let i=index'>
        <tr>
            <td>{{i+1}}</td>
            
            <td>
            <figure>
            <img src='{{"assets/Images/"+product.imageUrl}}' alt="">
            
            </figure>
            <figcaption>hello</figcaption>
            </td>
            
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
            <td>{{product.id}}</td>
            <td><button (click)="delete(product._id,product._rev)">delete product</button></td>
            
        </tr>
    </tbody>
    <button routerLink='../add-product'>add product</button>

</table>