
<main>
    <section class="searchBar">
        <input type="text" class="searchBox" name="searchBox" id="searchBox" [(ngModel)]="searchBox" placeholder="search">
        <button class="addBtn" routerLink='add-product'>add product</button>
    </section>
    <!-- (keydown.enter)='productSearch()'  -->
    
<div style="margin: 20px;">
    <table datatable  [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="contentTable"> 
        <!-- <Caption>Product-Details</Caption> -->
        <thead>
            <tr>
                <th id="productSno" class="leftCorner">S.no</th>
                <th id="productImage">Image</th>
                <th id="productName">Product-Name</th>
                <th id="productPrice">Price</th>
                <th id="productQuantity">Quantity</th>
                <th id="productDescription">Description</th>
                <th id="productId">Product-Id</th>
                <th id="productEdit">Edit</th>
                <th id="productDelete" class="rightCorner">Delete</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor='let product of products; let i=index'>
                <td>{{i+1}}</td>
                <td>
                    <figure>
                        <img src='{{"assets/Images/"+product.imageUrl}}' alt="">
                    </figure>
                </td>
                <td>{{product.name}}</td>
                <td>₹{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td><div class="description"><span class="toolTipText">{{product.description}}</span><span style="text-decoration: underline; color: midnightblue;">{{product.description}}</span></div></td>
                <td>{{product._id}}</td>
                <td><button class="editBtn" [routerLink]="['edit-products',product._id,product._rev]">Edit</button></td>
                <td><button class="deleteBtn" (click)="deleteProduct(product._id,product._rev)">Delete</button></td>
            </tr>
        </tbody>
        
    </table>
</div>
</main>

<ngx-spinner

  size="medium"
  color="#fff"
  bdColor="rgba(51,51,51,0.8)"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>