<header id="header"></header>

<section>

    <div class="productSpec">
        <!-- <img src="Assets/Images/sample.jpg" alt="">
        <p>product name</p>
        <br>
        <p>product description......</p>
        <form onsubmit="tocart()">
            <button type="submit">add to cart</button>
        </form> -->
    </div>
</section>

<!-- java script -->


<script src="Assets/js/jquery.min.js"></script>
<script src="Assets/js/index.js"></script>
<script src="Assets/js/product.js"></script>
<script src="Assets/js/productSpec.js"></script>
<script>
    productSpec();

    // function tocart() {
    //     event.preventDefault();
    //     alert("added to cart succesfully");
    //     window.location.href = "cart.html";

    // }

</script>