<!-- css fonts -->
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
<!-- css for para -->
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

<section class="header">

    <section>
        <div class="navbar">
            <a href="index.html"><img class="navbarimg" src="assets/Images/gift.png" alt=""></a>
            <p>Gift Corner</p>
            <div class="navlinks" id="navlinks">
                <!-- data printed here using ts -->
            </div>
        </div>
    </section>

    <section>
        <nav>
            <div class="navcontent">
                <ul>
                    <li><a routerLink='/home'>Home</a></li>
                    <li><a routerLink='/product'>Products</a></li>
                    <li><a routerLink='/cart'>Carts</a></li>
                    <li><a routerLink='/aboutUs'>AboutUs</a></li>
                </ul><br><br>
            </div>
        </nav>
    </section>
    <div class="spacing"></div>

</section>