<!-- <link rel="stylesheet" href="index.css"> -->
<!-- css fomts -->
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
<!-- css for para -->
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">

<!--Header Section-->
<header>
<section class="header">
<div class="navbar">
<a routerLink='/dashboard'><img class="navbarimg" src="assets/Images/gift.png" alt=""></a>
<p>Gift Corner</p>
<div class="navlinks" id="navlinks" >
</div>
</div>
<div class="navcontent">
    <ul>
        <li><a routerLink='/dashboard'>dashboard</a></li>
        <li><a routerLink='/productcrud'>Products</a></li>
        <li><a routerLink='/admin-orders'>Orders</a></li>
        <li><a routerLink='/users'>users</a></li>
        </ul><br><br>
    </div>
<div class="spacing"></div>
</section>
</header>
<!--Header End-->
