<!-- css fonts -->
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
<!-- css for para -->
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">


<header>
    <section class="header">

        <div class="navbar">
            <div>
                <a routerLink='/dashboard'><img class="navbarimg" src="assets/Images/gift.png" alt=""></a>
                <p class="logoText">Gift Corner</p>
            </div>
            <ng-container *ngIf="(user | async) ">
            <div class="navlinks" id="navlinks">
                <a  (click)="logout()">Logout</a>
            </div>
        </ng-container>
        </div>
        <nav>
            <div class="navcontent">
                <ul>
                    <li><a routerLink='/dashboard'>Dashboard</a></li>
                    <li><a routerLink='/products'>Products</a></li>
                    <li><a routerLink='/admin-orders'>Orders</a></li>
                    <li><a routerLink='/users'>Users</a></li>
                </ul><br><br>
            </div>
        </nav>
        <div class="spacing"></div>
    </section>
</header>