

<main>
    <section class="searchBar">
        <input type="text" class="searchBox" name="searchBox" [(ngModel)]="searchBox" (keydown.enter)='userSearch()' placeholder="search">
        
    </section>

    <section>
       
        <table  class="contentTable">
            <Caption>User-credentials</Caption>
            <thead>
                <tr>
                    <th id="userCount" class="leftCorner">s.no</th>
                    <th id="userName">Name</th>
                    <th id="userMail">E-mail</th>
                    <th id="userId">User-id</th>
                    <th id="userDelete" class="rightCorner">Delete</th>
                </tr>
            </thead>
            <tbody *ngFor='let user of (users | search:searchBox); let i=index' >
                
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user._id}}</td>
                    <td><button class="deleteBtn" (click)="delete(user._id,user._rev)">delete user</button></td>
                </tr>
                

                
            
            </tbody>
        </table>
    </section>
</main>