<app-admin-header></app-admin-header>

<main>
    <section class="searchBar">
        <input type="text" class="searchBox" name="searchBox" [(ngModel)]="searchBox" (keydown.enter)='userSearch()' placeholder="search">
        
    </section>

    <section>
       
        <table  class="contentTable">
            <Caption>user credentials</Caption>
            <thead>
                <tr>
                    <th class="leftCorner">s.no</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>User-id</th>
                    <th class="rightCorner">Delete</th>
                </tr>
            </thead>
            <tbody *ngFor='let user of users; let i=index' >
                
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user._id}}</td>
                    <td><button class="deleteBtn" (click)="delete(user._id,user._rev)">delete user</button></td>
                </tr>
                

                
            
            </tbody>
        </table>
    </section>
</main>