caption{
    font-size: 30px;
    font-weight: bolder;
    color: midnightblue;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.UserContainer{
    padding-bottom: 125px;
}

.contentTable{
    
    border-collapse: collapse;
    
    border-radius: 15px 15px 0 0;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.leftCorner{
    background-color: #009879;
    border-radius: 15px 0px 0 0;
}
.rightCorner{
    background-color: #009879;
    border-radius: 0 15px 0 0;
}

.contentTable thead th{
    
    /* background-color: #009879; */
    background-color: #18B9B9;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.contentTable th,
.contentTable td{
    
    padding: 12px 15px;
    text-align: center;
}
.contentTable tbody tr{
    border-bottom: 1px solid lightgray;
}

.searchBox{
    height: 23px;
    min-width: 400px;
    margin: 15px 0 0 15px;
    padding: 3px;
    font-size: 1.1em;
    border-radius: 5px;
}

.deleteBtn{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: #f44336;
    color: white;
    font-size: 0.9em;
    padding: 5px 7px;
    margin: 2px 1px;   
  }
