<table>
    <Caption>user credentials</Caption>
    <thead>
        <tr>
            <td>s.no</td>
            <td>customer name</td>
            <td>phone number</td>
            <td>address</td>
            <td>total amount</td>
            <td>payment</td>
            <td>ordered date</td>
            <td>delivery date</td>
            <td>status</td>
            
        </tr>
    </thead>
    <tbody *ngFor='let order of orders; let i=index'>
        <tr>
            <td>{{i+1}}</td>
            <td>{{order.name}}</td>
            <td>{{order.phonenumber}}</td>
            <td>{{order.address}}</td>
            <td>{{order.totalAmount}}</td>
            <td>{{order.payment}}</td>
            <td>{{order.orderedDate}}</td>
            <td>{{order.deliveredDate}}</td>
            <td>{{order.status}}</td>
        </tr>
    </tbody>


</table>
