

<main>
    <section class="searchBar">
        <input type="text" class="searchBox" id="searchBox" name="searchBox" (keydown.enter)='orderSearch()' [(ngModel)]="searchBox" placeholder="search">
        <a style="cursor: pointer" (click)="exportexcel()">
            <span id="orderDownload">download order details</span>
            <i class="fas fa-file-download fa-lg" style="margin: 15px 25px;"></i>
          </a>
    </section>

<table class="contentTable" id="ordersTable">
    <Caption appCaption>Orders</Caption>
    <thead>
        <tr>
            <th id="orderSno" class="leftCorner">S.no</th>
            <th id="orderCustomer">Customer Name</th>
            <th id="orderPhoneNumber">Phone Number</th>
            <th id="orderAddress">Address</th>
            <th id="orderTotal">Total Amount</th>
            <th id="orderPayment">Payment</th>
            <th id="orderDate">Ordered Date</th>
            <th id="orderDelivery">Delivery Date</th>
            <th id="orderStatus">Status</th> 
            <th id="orderProcess" class="rightCorner">Process</th>     
        </tr>
    </thead>

    <tbody *ngFor='let order of orders; let i=index'>
        <tr >
            <td>{{i+1}}</td>
            <td>{{order.name}}</td>
            <td>{{order.phonenumber}}</td>
            <td style="max-width: 100px;">{{order.address}}</td>
            <td>₹{{order.totalAmount}}</td>
            <td>{{order.payment}}</td>
            <td >{{order.orderedDate  |date:"dd-MM-yyyy"}}</td>
            <td>{{order.deliveredDate |date:"dd-MM-yyyy"}}</td>
            <td [ngStyle]="{'color':getBgColor(order.status),'font-size': '20px'}">{{order.status}}</td>

            <td *ngIf="(order.status=='ORDERED')" ><button  class="statusBtn" type="button" (click)="update(order._id)">status to delivered</button></td>
        </tr>
    </tbody>
</table>
</main>