.searchBar{
    display: flex;
    justify-content: space-between;
}
a #orderDownload{
    visibility: hidden;
}
a:hover #orderDownload{
    border: 2px solid midnightblue;
    background-color: ghostwhite;
    padding: 2px;
    border-radius: 5px;
    visibility: visible;
}
.statusBtn{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: #008CBA;
    color: white;
    font-size: 0.9em;
    padding: 5px 7px;
    margin: 2px 1px;   
  }
