/* Registration page container */
.editProduct{
    position: relative;
    border: 2px solid #2a9d8f;
    border-radius: 12px;
    margin: 10% 35% 0% 35%;
    padding-bottom: 3%;
    
}
button{
    position: absolute;
background-color: #2a9d8f;
width: 90%;
height: 30px;
border-radius: 12px;
left: 5%;
right: 5%;
color: wheat;

}