<app-page>
  <form (ngSubmit)="editProduct()">

    <div class="field">
      <input type="text" required autocomplete="off" id="productName" name="productName" [(ngModel)]="productName">
      <label for="productName" title="Name "></label>
    </div>

    <div class="field">
      <input type="number" required autocomplete="off" id="productPrice"  name="productPrice"
        [(ngModel)]="productPrice">
      <label for="productPrice" title="Price"></label>
    </div>

    <div class="field">
      <input type="file" (change)="onFileUpload($event)" required autocomplete="off" id="productImage"
        name="productImage" [(ngModel)]="productImage">
      <label for="productImage" title=""></label>
    </div>

    <div class="field">
      <input type="number" required autocomplete="off" id="productQuantity" name="productQuantity"
        [(ngModel)]="productQuantity">
      <label for="productQuantity" title="Quantity"></label>
    </div>

    <div class="field">
      <input type="text" required autocomplete="off" id="productDescription" name="productDescription"
        [(ngModel)]="productDescription">
      <label for="productDescription" title="Description"></label>
    </div>

    <button class="btnProduct" type="submit">update product</button>

  </form>
</app-page>
