<app-page>
            <form [formGroup]="addProductsForm" (submit)="addProduct()">

                <div class="field">
                    <input type="text" required autocomplete="off" id="name" name="name"
                        formControlName="name">
                    <label for="name" title="name "></label>
                </div>
                
                <div class="field">
                        <input type="number" required autocomplete="off" id="price" placeholder="Price"
                            name="price" formControlName="price">
                        <label for="price" title="price"></label>
                </div>

                <div class="field">
                    <input type="file" (change)="onFileUpload($event)" required autocomplete="off" id="imageUrl"
                        name="imageUrl" formControlName="imageUrl">
                    <label for="imageUrl" title=""></label>
                </div>

                <div class="field">
                    <input type="number" required autocomplete="off" id="quantity" name="quantity"
                        formControlName="quantity">
                    <label for="quantity" title="Quantity"></label>
                </div>

                <div class="field">
                    <input type="text" required autocomplete="off" id="description" name="description"
                        formControlName="description">
                    <label for="description" title="description"></label>
                </div>

                <button class="btnProduct" type="submit" [disabled]="!addProductsForm.valid">Add product</button>

            </form>
        </app-page>