
<main>
    <section class="addProduct">
        
        <section>
            <div class="regLogo">
                <img src="assets/Images/gift.png" alt="">
                <p>Gift corner</p><br>
            </div>
        </section>

        <section>
            <form [formGroup]="addProductsForm" (submit)="addProduct()">

                <div class="field">
                    <input type="text" required autocomplete="off" id="productName" name="productName"
                        formControlName="productName">
                    <label for="productName" title="productName "></label>
                </div>
                
                <div class="field">
                        <input type="number" required autocomplete="off" id="productPrice" placeholder="Price"
                            name="productPrice" formControlName="productPrice">
                        <label for="productPrice" title="productPrice"></label>
                </div>

                <div class="field">
                    <input type="file" (change)="onFileUpload($event)" required autocomplete="off" id="productImage"
                        name="productImage" formControlName="productImage">
                    <label for="productImage" title=""></label>
                </div>

                <div class="field">
                    <input type="number" required autocomplete="off" id="productQuantity" name="productQuantity"
                        formControlName="productQuantity">
                    <label for="productQuantity" title="Quantity"></label>
                </div>

                <div class="field">
                    <input type="text" required autocomplete="off" id="productDescription" name="productDescription"
                        formControlName="productDescription">
                    <label for="productDescription" title="productDescription"></label>
                </div>

                <button type="submit" [disabled]="!addProductsForm.valid">Add product</button>

            </form>
        </section>
    </section>


</main>