<header id="header">

</header>
<h3>im in product</h3>



<div class="productContainer" id="productContainer">
    <!-- product container in js -->
    <!-- <div class="product" id="${img.id}">
            <form action="productSpec.html">
        <img class="productImg" src="Assets/Images/${img.image_url}" id="productImg" alt="">
    <p class="productName" id="productName">${img.name}</p>
    <p class="productPrice" id="productPrice" >${img.price}</p>
    
    <button type="submit" onclick="addToCart(${img.id})">add to cart</button>
</form>
</div> -->

</div>

<form action="" onsubmit="">
    <a href="" onsubmit=""></a>
</form>



<script src="Assets/js/jquery.min.js"></script>
<script src="Assets/js/index.js"></script>
<script src="Assets/js/product.js"></script>