.product {
    border: 2px solid red;
    border-radius: 12px;
    width: 200px;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 8px;
    display: inline-block;
}

.productImg {
    width: 200px;
    height: 230px;
    border-radius: 12px;
    border: 1px solid blue;
}

.productName {
    text-align: center;
    margin-bottom: 5px;
}

.productPrice {

    text-align: center;
}